@import "tailwindcss";
@plugin "daisyui";

body {
  overflow-x: hidden;
}

/* alan-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Alan Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/alan-sans-v1-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* alan-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Alan Sans";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/alan-sans-v1-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* alan-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Alan Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/alan-sans-v1-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mainDesc {
  font-family: "Alan Sans";
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.prodCard {
  margin-top: 3rem;
}

.prodImage {
  width: 25rem;
  height: 15rem !important;
  object-fit: cover;
  border-radius: 0.7rem;
}

.singleProdImg {
  width: 40rem;
  height: 20rem;
  border-radius: 1.2rem;
  position: relative;
  top: 2rem;
  object-fit: cover;
}

.singleProdTitle {
  width: 35rem;
  margin-left: 45rem;
  z-index: 2;
  position: relative;
  top: -18rem;
  font-family: "Alan Sans";
  font-weight: 700;
  font-size: 2rem;
}

.singleProdDesc {
  font-family: "Alan Sans";
  font-weight: 500;
  font-size: 1rem;
  margin-left: 45rem;
  position: relative;
  top: -18rem;
}

.singleProdHr {
  width: 35rem;
  position: relative;
  left: 45rem;
  top: -17rem;
}

.singleProdRate {
  font-family: "Alan Sans";
  font-weight: 500;
  margin-left: 45rem;
  position: relative;
  top: -18rem;
}

.singleProdStock {
  font-family: "Alan Sans";
  font-weight: 500;
  margin-left: 45rem;
  position: relative;
  top: -18rem;
  margin-top: 0.5rem;
}

.singleProdCategory {
  font-family: "Alan Sans";
  font-weight: 500;
  margin-left: 45rem;
  position: relative;
  top: -18rem;
  margin-top: 1rem;
}

.singleProdClearance {
  margin-left: 45rem;
  position: relative;
  bottom: 17rem;
}

.basketBtn {
  position: relative;
  right: 1rem;
}

.clearance__Img {
  width: 20rem;
  height: 20rem;
  border-radius: 0.5rem;
  object-fit: cover;
  position: relative;
  top: 2rem;
  left: 10rem;
}

.clearance__info {
  position: relative;
  top: 2rem;
  left: 15rem;
  justify-content: center;
  text-align: start;
}

.clearance__title {
  font-family: "Alan sans";
  font-weight: 700;
  font-size: 1.5rem;
  position: relative;
  left: 19rem;
  bottom: 20rem;
}

.clearance__prod__data {
  font-family: "Alan sans";
  font-weight: 500;
  font-size: 1rem;
  position: relative;
  left: 19rem;
  bottom: 20rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
