@import "tailwindcss";
@plugin "daisyui";

/* alan-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Alan Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/alan-sans-v1-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* alan-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Alan Sans";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/alan-sans-v1-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* alan-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Alan Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/alan-sans-v1-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.prodCard {
  margin-top: 3rem;
}

.prodImage {
  width: 25rem;
  height: 15rem !important;
  object-fit: cover;
  border-radius: 0.7rem;
}

.singleProdImg {
  width: 40rem;
  height: 20rem;
  border-radius: 1.2rem;
  position: relative;
  top: 2rem;
  object-fit: cover;
}

.singleProdTitle {
  width: 35rem;
  margin-left: 45rem;
  z-index: 2;
  position: relative;
  top: -18rem;
  font-family: "Alan Sans";
  font-weight: 700;
  font-size: 2rem;
}

.singleProdDesc {
  font-family: "Alan Sans";
  font-weight: 500;
  font-size: 1rem;
  margin-left: 45rem;
  position: relative;
  top: -18rem;
}

.singleProdHr {
  width: 35rem;
  position: relative;
  left: 45rem;
  top: -17rem;
}

.singleProdRate {
  font-family: "Alan Sans";
  font-weight: 500;
  margin-left: 45rem;
  position: relative;
  top: -18rem;
}

.singleProdStock {
  font-family: "Alan Sans";
  font-weight: 500;
  margin-left: 45rem;
  position: relative;
  top: -18rem;
  margin-top: 0.5rem;
}

.singleProdCategory {
  font-family: "Alan Sans";
  font-weight: 500;
  margin-left: 45rem;
  position: relative;
  top: -18rem;
  margin-top: 1rem;
}
